include components/DataTable
include components/mixins
include components/dataFile
<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet", href="css/main.css")
    body
        include components/header

        details(class="table")
            summary="Сортировка таблицы"
            form
                +createSort("Первый уровень","sortFirst",sort)
                +createSort("Второй уровень","sortSecond",sort)
                +createSort("Третий уровень","sortThird",sort)
        +createTable(headerOfTable,massive)
