-
    let headerOfTable = [
        ["Название игры",0],
        ["Дата выхода",0],
        ["Жанр",0],
        ["Рейтинг",0],
        ["Разработчик",0],
        ["Платформы","platform"],
        ["Логотип","logo"],
        ["Ссылка на обзор","link"]
    ]



-
    let massive = [
        ["The Elder Scrolls 5: Skyrim", "11 ноября 2011г.", "RPG (РПГ)", "8.8", "Bethesda Softworks", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/92/ce6661067e1c4efcbc53abff988ce988", "https://kanobu.ru/games/the-elder-scrolls-v-skyrim/"],
        ["Grand Theft Auto 5", "17 сентября 2013г.", "Экшен/Шутеры", "8.6", "Rockstar Games", "PC/PlayStation 5/PlayStation 4/Xbox Series X/S/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/265cd307-6821-43b4-a74f-81e2242c2cc3.webp", "https://kanobu.ru/games/grand-theft-auto-5/"],
        ["Minecraft", "18 ноября 2011г.", "Экшен/Симуляторы/Приключения/Пазлы", "7.8", "4J Studios/Markus Persson/Mojang", "PC/PlayStation 4/Nintendo Switch/Xbox One/Android/iOS/PlayStation 3/PlayStation Vita/Xbox 360", "https://cdn.kanobu.ru/games/96/098131019914445f93d5a107a3e4b1b7", "https://kanobu.ru/games/minecraft-1/"],
        ["Grand Theft Auto: San Andreas", "29 октября 2004г.", "Экшен", "9.1", "Rockstar North", "PC/Android/iOS/PlayStation 2/Xbox 360", "https://cdn.kanobu.ru/games/1/750e0caa57b341d68049c3fd7effe391", "https://kanobu.ru/games/grand-theft-auto-san-andreas/"],
        ["Grand Theft Auto 4", "29 апреля 2008г.", "Экшен", "8.5", "Rockstar North", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/85/7cbfce974976454a983014ceefa00fb0", "https://kanobu.ru/games/grand-theft-auto-4/"],
        ["Assassin's Creed 2", "17 ноября 2009г.", "Экшен/Приключения", "9.2", "Ubisoft", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/47/9efa648581fc421faae618303bec9214", "https://kanobu.ru/games/assassins-creed-2/"],
        ["Mass Effect 2", "29 января 2010г.", "RPG (РПГ)", "9.3", "BioWare", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/46/d0413559fc034463b46e48b628951779", "https://kanobu.ru/games/mass-effect-2/"],
        ["Mafia 2", "27 августа 2010г.", "Экшен", "8.6", "2K Czech", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/72/25478a08b5414e78a1cb4764e959004d", "https://kanobu.ru/games/mafia-2/"],
        ["Far Cry 3", "30 ноября 2012г.", "Экшен/Шутеры", "8.6", "Ubisoft Entertainment", "PC/PlayStation 4/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/31/f19e86587b7f4341a77839717de01841", "https://kanobu.ru/games/far-cry-3/"],
        ["Need for Speed: Most Wanted", "15 ноября 2005г.", "Гонки", "8.7", "EA Black Box", "PC/Android/iOS/PlayStation 2/PlayStation Portable (PSP)/Xbox 360/Xbox", "https://cdn.kanobu.ru/games/e17e6c57-15c6-4936-bde9-7e55eacf2e30.webp", "https://kanobu.ru/games/need-for-speed-most-wanted/"],
        ["Call of Duty: Modern Warfare 2", "10 ноября 2009г.", "Экшен/Шутеры", "8.6", "Infinity Ward", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/22/0189802f6a94494f8345de776090bf67", "https://kanobu.ru/games/call-of-duty-modern-warfare-2/"],
        ["Battlefield 3", "28 октября 2011г.", "Экшен/Шутеры", "8.9", "Digital Illusions Creative Entertainment", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/42/120816e1b1474d8aad3ed0fa663c0e8f", "https://kanobu.ru/games/battlefield-3/"],
        ["Mass Effect", "20 ноября 2007г.", "RPG (РПГ)", "9.0", "BioWare", "PC/Xbox 360", "https://cdn.kanobu.ru/games/95/c2b8e488ea334fd4bc0cc3206d240620", "https://kanobu.ru/games/mass-effect/"],
        ["Mass Effect 3", "8 марта 2012г.", "Экшен/Шутеры/RPG (РПГ)", "8.9", "BioWare", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/93/8e53f976be7f4db8a1250122267046b0", "https://kanobu.ru/games/mass-effect-3/"],
        ["Assassin's Creed", "13 ноября 2007г.", "Экшен/Приключения", "8.1", "Ubisoft Montreal", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/42/fa25aa62047b4d95a2c8d690f815fd74", "https://kanobu.ru/games/assassins-creed/"],
        ["Fallout 3", "31 октября 2008г.", "RPG (РПГ)", "8.5", "Bethesda Softworks", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/25/eb5040699e594836873a091345d6b022", "https://kanobu.ru/games/fallout-3/"],
        ["Portal 2", "21 апреля 2011г.", "Приключения/Пазлы", "9.2", "Valve Software", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/42/cc5be322cc0e4634811f0d9f42b370a8", "https://kanobu.ru/games/portal-2/"],
        ["Dragon Age: Origins", "3 ноября 2009г.", "RPG (РПГ)", "9.4", "BioWare", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/23/f4f709d6021b41089ddb9887e53580ef", "https://kanobu.ru/games/dragon-age-origins/"],
        ["Call of Duty 4: Modern Warfare", "9 ноября 2007г.", "Экшен/Шутеры", "8.7", "Infinity Ward", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/31/719ae21301d847a49b04c6259203f4a8", "https://kanobu.ru/games/call-of-duty-4-modern-warfare/"],
        ["Deus Ex: Human Revolution", "26 августа 2011г.", "Экшен/RPG (РПГ)", "9.3", "Eidos", "PC/Xbox One/PlayStation 3/Xbox 360/Nintendo Wii", "https://cdn.kanobu.ru/games/71/b2f43ba9638145e2b19dba0d1bf872f1", "https://kanobu.ru/games/deus-ex-3/"],
        ["Metro 2033", "19 марта 2010г.", "Экшен/Шутеры", "8.4", "4A Games", "PC/Nintendo Switch/Xbox 360", "https://cdn.kanobu.ru/games/75/91714bf48c8d4c1c9b7e7913a46326c0", "https://kanobu.ru/games/metro-2033/"],
        ["Half-Life 2", "16 ноября 2004г.", "Экшен/Шутеры", "9.2", "Valve Software", "PC/Android/Xbox/Mac/Linux", "https://cdn.kanobu.ru/games/44/dc094bbaf21142219d91d85cff0fc9ac", "https://kanobu.ru/games/half-life-2/"],
        ["S.T.A.L.K.E.R.: Shadow of Chernobyl", "20 марта 2007г.", "Экшен/Шутеры", "8.6", "GSC Game World", "PC", "https://cdn.kanobu.ru/games/99/9e77c6c076cb435286d8b94eb97d8eee", "https://kanobu.ru/games/stalker-shadow-of-chernobyl/"],
        ["The Witcher 2: Assassins of Kings", "17 мая 2011г.", "RPG (РПГ)", "8.9", "CD Projekt RED", "PC/Xbox 360", "https://cdn.kanobu.ru/games/34/6355cd7ac05f43c6a997c63d7432ce98", "https://kanobu.ru/games/witcher-2-assassins-of-kings/"],
        ["The Witcher 3: Wild Hunt", "19 мая 2015г.", "RPG (РПГ)", "8.6", "CD Projekt RED", "PC/PlayStation 5/PlayStation 4/Nintendo Switch/Xbox Series X/S/Xbox One", "https://cdn.kanobu.ru/games/66/ca88bfd116154e0ba95708149306be50", "https://kanobu.ru/games/the-witcher-3-wild-hunt/"],
        ["Dishonored", "12 октября 2012г.", "Экшен", "9.0", "Arkane Studios", "PC/PlayStation 4/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/89/4422eec1d6ba4435839f19b6332d536f", "https://kanobu.ru/games/dishonored/"],
        ["S.T.A.L.K.E.R. 2: Heart of Chornobyl", "8 декабря 2022г.", "Экшен/Шутеры/Приключения", "8.1", "GSC Game World", "PC/PlayStation 5/Xbox Series X/S", "https://cdn.kanobu.ru/games/73/cd9af503d719435d911bc27d80accaaf", "https://kanobu.ru/games/stalker-2/"],
        ["Diablo 3", "15 мая 2012г.", "RPG (РПГ)", "8.0", "Blizzard Entertainment", "PC/PlayStation 4/Nintendo Switch/PlayStation 3/Xbox 360/Mac", "https://cdn.kanobu.ru/games/99/7c3555f0d20941c1bded337166d89bc2", "https://kanobu.ru/games/diablo-3/"],
        ["BioShock Infinite", "26 марта 2013г.", "Экшен/Шутеры", "8.9", "Irrational Games", "PC/Nintendo Switch/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/64/cdb0c5f125594825aa8fd7d874375405", "https://kanobu.ru/games/bioshock-infinite/"],
        ["Warcraft 3: The Frozen Throne", "22 июня 2003г.", "RPG (РПГ)/Стратегии", "8.8", "Blizzard Entertainment", "PC", "https://cdn.kanobu.ru/games/92/ccf81a89d0914102b1485605a814e119", "https://kanobu.ru/games/warcraft-3-the-frozen-throne/"],
        ["Fahrenheit", "20 сентября 2005г.", "Приключения", "9.1", "Quantic Dream", "PC/PlayStation 4/Android/iOS/Mac", "https://cdn.kanobu.ru/games/65/7b412c54de8642cba29a12fd0c542382", "https://kanobu.ru/games/indigo-prophecy/"],
        ["Grand Theft Auto: Vice City", "8 ноября 2002г.", "Экшен", "9.1", "Rockstar North", "PC/PlayStation 4/Android/iOS/PlayStation 3/PlayStation 2/Xbox/Mac", "https://cdn.kanobu.ru/games/19/aadfc38ebc344343ae185f6f6996ae96", "https://kanobu.ru/games/grand-theft-auto-vice-city/"],
        ["Batman: Arkham City", "21 октября 2011г.", "Экшен", "9.1", "Rocksteady Studios", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/59/c507e19dee394ee0934118f43bb630d5", "https://kanobu.ru/games/batman-arkham-asylum-2/"],
        ["Fallout: New Vegas", "22 октября 2010г.", "Экшен/RPG (РПГ)/Стратегии", "8.6", "Obsidian Entertainment", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/7/83ca126127b0446daa2a07b06b18e2f6", "https://kanobu.ru/games/fallout-new-vegas/"],
        ["BioShock", "21 августа 2007г.", "Экшен/Шутеры", "8.9", "2K Boston", "PC/Nintendo Switch/iOS/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/66/dbc0741699054471a113980056c8de96", "https://kanobu.ru/games/bioshock/"],
        ["Cyberpunk 2077", "10 декабря 2020г.", "Экшен/RPG (РПГ)", "7.2", "CD Projekt RED/Crunching Koalas/QLOC/Testronic", "PC/PlayStation 5/PlayStation 4/Xbox Series X/S/Xbox One/Google Stadia", "https://cdn.kanobu.ru/games/24c4399d-0ca4-4556-8518-62a30867bb25.webp", "https://kanobu.ru/games/cyberpunk/"],
        ["Assassin's Creed: Brotherhood", "19 ноября 2010г.", "Экшен/Приключения", "8.4", "Ubisoft", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/65/cbae84e00d0b40e7b2684951dc26d661", "https://kanobu.ru/games/assassins-creed-brotherhood/"],
        ["The Witcher", "30 октября 2007г.", "RPG (РПГ)", "9.1", "CD Projekt RED", "PC", "https://cdn.kanobu.ru/games/45/a41f4b4d05984931962ffad9ffd386c9", "https://kanobu.ru/games/vedmak/"],
        ["Tomb Raider (2013)", "5 марта 2013г.", "Экшен/Шутеры/RPG (РПГ)", "8.7", "Crystal Dynamics", "PC/PlayStation 3/Xbox 360/Mac/Google Stadia", "https://cdn.kanobu.ru/games/82/253a17481e9d49ccb161bbaae296f86c", "https://kanobu.ru/games/tomb-raider/"],
        ["StarCraft 2: Wings of Liberty", "31 июля 2010г.", "Стратегии/MMO", "9.1", "Blizzard Entertainment", "PC", "https://cdn.kanobu.ru/games/24eec42a-a2a6-498c-86d5-8e329713dae9.webp", "https://kanobu.ru/games/starcraft-ii-terrans-wings-of-liberty/"],
        ["Mirror's Edge", "14 ноября 2008г.", "Экшен", "8.3", "EA DICE", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/entities/68/fcd78f85-d36b-4ffa-9ac8-9d04324750df.webp", "https://kanobu.ru/games/mirrors-edge/"],
        ["The Elder Scrolls IV: Oblivion", "20 марта 2006г.", "Экшен/RPG (РПГ)", "9.0", "Bethesda Softworks", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/e17c468f-cd9e-48d7-bb23-6cbd736fa330.webp", "https://kanobu.ru/games/the-elder-scrolls-iv-oblivion/"],
        ["Crysis 2", "25 марта 2011г.", "Экшен/Шутеры", "7.8", "Crytek", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/39/cdf77788d34e4169a19faae595f857fa", "https://kanobu.ru/games/crysis-2/"],
        ["Batman: Arkham Asylum", "25 августа 2009г.", "Экшен", "9.1", "Rocksteady Studios", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/37/cfba473e736d42a795b9daebff1954ed", "https://kanobu.ru/games/batman-arkham-asylum/"],
        ["Dead Space", "24 октября 2008г.", "Хорроры (ужасы)/Экшен", "8.6", "EA Games", "PC/Android/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/76/7d774bbaa10b4699a41953e067769b0b", "https://kanobu.ru/games/dead-space/"],
        ["Battlefield: Bad Company 2", "5 марта 2010г.", "Экшен/Шутеры", "8.4", "Digital Illusions", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/97/8b0705a26c6a4fdf9a1bdc9eb7be56d4", "https://kanobu.ru/games/battlefield-bad-company-2/"],
        ["S.T.A.L.K.E.R.: Call of Pripyat", "3 октября 2009г.", "Экшен/Шутеры", "8.3", "GSC Game World", "PC", "https://cdn.kanobu.ru/games/87/c67d0b1c3cc5402eb5750c3a231c49dc", "https://kanobu.ru/games/stalker-zov-pripyati/"],
        ["L.A. Noire", "17 мая 2011г.", "Экшен/Симуляторы/Приключения", "8.8", "Team Bondi", "PC/PlayStation 4/Nintendo Switch/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/41/0d2f69b6bb6f43728f10b8cb1d7af8a4", "https://kanobu.ru/games/la-noire/"],
        ["Portal", "10 октября 2007г.", "Приключения/Пазлы", "9.1", "Valve Corporation", "PC/Android/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/36/47b0d41ad30c49e58ed92de8f1898de4", "https://kanobu.ru/games/portal/"],
        ["Left 4 Dead 2", "17 ноября 2009г.", "Экшен/Шутеры", "7.7", "Valve Software", "PC/Xbox 360", "https://cdn.kanobu.ru/entities/62/5aebf871-c7bb-4790-a09c-f0e6ad0afa1a.webp", "https://kanobu.ru/games/left-4-dead-2/"],
        ["Max Payne 3", "1 июня 2012г.", "Экшен", "8.1", "Rockstar Vancouver", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/8efa292a-2cbd-498c-9dba-445815244fc3.webp", "https://kanobu.ru/games/max-payne-3/"],
        ["Warcraft III: Reign of Chaos", "14 июня 2002г.", "RPG (РПГ)/Стратегии", "9.0", "Blizzard Entertainment", "PC", "https://cdn.kanobu.ru/games/38/81c54dea98944fa29b43a30ae45da7ea", "https://kanobu.ru/games/warcraft-iii/"],
        ["Dead Space 2", "25 января 2011г.", "Хорроры (ужасы)/Экшен", "8.8", "Visceral Games", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/99/c5d074ef7a694146a3c3891ef6dddcba", "https://kanobu.ru/games/dead-space-2/"],
        ["Assassin's Creed: Revelations", "29 ноября 2011г.", "Экшен", "8.3", "Ubisoft Montreal", "PC/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/1/c4fb580fb16b4eb398f44eb07f1fe9c9", "https://kanobu.ru/games/assassins-creed-3/"],
        ["Call of Duty: Modern Warfare 3", "8 ноября 2011г.", "Экшен/Шутеры", "7.0", "Infinity Ward", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/5/38285e1cda9a43939936efcd7cd7192a", "https://kanobu.ru/games/call-of-duty-modern-warfare-3/"],
        ["Metro: Last Light", "17 мая 2013г.", "Экшен/Шутеры", "8.5", "4A Games", "PC/Nintendo Switch/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/f0302bb4-a40c-4d42-9555-83667c83e55e.webp", "https://kanobu.ru/games/metro-last-light/"],
        ["Fable: The Lost Chapters", "8 октября 2004г.", "Экшен/RPG (РПГ)", "9.6", "Lionhead Studios", "PC/Xbox 360", "https://cdn.kanobu.ru/games/72/57a3a43e8ebe4765992b5e993bed50cf", "https://kanobu.ru/games/fable-the-lost-chapters/"],
        ["Half-Life 2: Episode Two", "10 октября 2007г.", "Экшен/Шутеры", "9.1", "Valve Software", "PC/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/42/1f86d367816046f8866daa461d94d53b", "https://kanobu.ru/games/half-life-2-episode-two/"],
        ["Prototype", "5 июня 2009г.", "Экшен", "7.3", "Radical Entertainment", "PC/PlayStation 4/Xbox One/PlayStation 3/Xbox 360", "https://cdn.kanobu.ru/games/88/c155d633c1914ed7a4a365579c0c7d5c", "https://kanobu.ru/games/prototype/"]
    ]

