h2
    a(id="main")=ИгроЖанры
p
    a(href="index.html" class="outerHref")="ИгроЖанры"
    a(href="table.html" class="outerHref")="ИгроТоп"
    a(href="gallery.html" class="outerHref")="ИгроГалерея"
hr